<div class="container">
  <%= form_with url: search_weather_index_path, method: :get, html: { role: "search" } do |form| %>
    <%= form.combobox :location, suggestions_weather_index_path, mobile_at: "0px", type: :search %>
    <%= form.submit "Search" %>
  <% end %>
</div>